<%- include('./head'); %>

<nav>
  <div class="ui menu">
    <!-- home  -->
    <a href="/home" 
      class="header item <%= activeTab==="home" ? 'active' : '' %> ">
      <i class="ui icon home large teal"></i>
      <strong>Healthy Transitions Home</strong>
    </a>
    <!-- right menu  -->
    <div class="right menu">
      <a href="/dashboard"
        class="item right custom-right <%= activeTab==="upload" ? 'active' : '' %> ">
        <i class="ui icon cloud upload"></i>Upload Data
      </a>
      <a href="/dashboard"
        class="item right custom-right <%= activeTab==="preview" ? 'active' : '' %> ">
        <i class="ui icon eye"></i>Preview Site
      </a>
      <a href="/dashboard"
        class="item right custom-right <%= activeTab==="update" ? 'active' : '' %> ">
        <i class="ui icon sync"></i>Update Site
      </a>
      <a href="/logout"
        class="item right custom-right">
        <i class="ui icon power off"></i>Logout
      </a>
      
      <!-- dropdown  -->
      <!-- <div class="ui pointing dropdown link item custom-right-menu">
        More <i class="dropdown icon"></i>
        <div class="menu">

          <a class="item" href="/guide">
            <i class="ui icon book"></i>
            User guide
          </a>

          <a class="item"  href="/settings">
            <i class="ui icon cog"></i> Settings
          </a>
          <a class="item" href="/logout">
            <i class="ui icon power off"></i> Logout
          </a>
        </div> -->
      </div>
    </div>
  </div>
</nav>
<script>
  $('.ui.dropdown').dropdown('hide');

  function isActive(str) {
    if (str === activeTab) { return 'active' } 
    else { return '' }
  }
</script>